/* common styles */
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

/* Skewed header */
.skewed-header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.skewed-header > .header-bg {
    position: absolute;
    top: 0;
    bottom: 0; 
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    /* transform:  skewY(-3deg); */
    transform-origin: top left;
    filter: brightness(50%);
    border: solid black;
}

.skewed-header > .skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
    background-color: #cea135;
    color: #11122b;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    padding: 10px;
    text-align: center;

}



/* Page container styles */
.page-container {
    display: flex;
    justify-content: center;
}

.page-container > .content-werapper {
    width: 1000px;
}

.page-container > .content-werapper > #chef {
   width: 350px;
   margin: 23px 40px 20px 0px;
   float: left;
   border: 1px solid #cea135;
}

.page-container > .content-werapper p {
    letter-spacing: 1px;
    line-height: 30px;
}

/* squares grid styles */
.squares-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.squares-wrapper > .squares {
    width: 1000px;
}

.squares-wrapper > .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.square > .image-wrapper img {
   width: 100%;
   height: 500px;
   object-fit: cover;
   margin-bottom: -4px;
}

.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}

.square > .square-text-wrapper h1 {
  color: #AD172B;
}

/* helper styles */

.spacer60 {
    height: 60px;
    width: 100%;
}

.anchor-link {
    text-decoration: none;
}

.anchor-link:focus {
    outline: none;
}

.anchor-link h1::after {
    font-family: "Font Awesome 5 Free";
    content: " \f0c1";
    font-weight: 900;
}